.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

a:active,
a:hover {
    color: #1b531b
}

a {
    color:white
}

.form-check-input:checked {
    background-color: #228B22;
    border-color: #228B22;
}

input[type=checkbox] {
    background-color: #228B22;
}